* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-decoration: none;
}

#divheader {
    width: 100%;
    background-color: #090C11;
    height: 12vh;
    color: #E1E6EF;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 200;
    font-style: normal;
    line-height: 12vh;
    text-align: center;
}

#divlogo {
    align-items: center;
    height: 12vh;
    width: 14%;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 200;
    font-style: normal;
    height: 12vh;
    width: 12%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#divlogo2 {
    height: 10vh;
    width: 10vh;
}



.imagem-ajustada {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

#divnada1 {
    flex-direction: row;
    align-items: center;
    height: 11.5vh;
    width: 16%;
}

#divsobre {
    flex-direction: row;
    align-items: center;
    height: 12vh;
    width: 8%;
    font-size: 2vh;
}

#divhabilidades {
    flex-direction: row;
    align-items: center;
    height: 12vh;
    width: 8%;
    font-size: 2vh;
}

#divprojetos {
    flex-direction: row;
    align-items: center;
    height: 12vh;
    width: 8%;
    font-size: 2vh;
}

#divnada2 {
    flex-direction: row;
    align-items: center;
    height: 11.5vh;
    width: 15%;
}

#divcontato {
    flex-direction: row;
    align-items: center;
    height: 12vh;
    width: 14%;
    color: #E1E6EF;
    font-size: 2vh;

}

#btncontato {
    color: #E1E6EF;
    border: solid 0.2vh #E1E6EF;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 20%;
    padding-right: 20%;
    margin: 1%;
    font-size: 2vh;
}

#btncontato:hover {
    color: #E1E6EF;
    border: solid 0.21vh #E1E6EF;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 20%;
    padding-right: 20%;
    margin: 1%;
    font-size: 2vh;
    font-size: 2.1vh;
    background-color: #10151d;
}



#btncontato1 {
    color: #E1E6EF;
    height: 5vh;
    width: 21vh;
    font-size: 2vh;
}

#btnbranco1 {
    color: #E1E6EF;

}
#btnbranco2 {
    color: #E1E6EF;

}
#btnbranco3 {
    color: #E1E6EF;

}


#br1 {
    height: 0.5vh;
    width: 100%;
    background-color: white;
}


#inicio {
    width: 100%;
    background-color: #090C11;
    height: 70vh;
    color: #E1E6EF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
}













































/* BARRA - */

#barracontato {
    height: 16vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: "Chakra Petch", sans-serif;
    font-size: 3.3vh;
    font-style: normal;
    text-align: center;
}

#divlink {
    width: 40vh;
    height: 16vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#divgit {
    width: 40vh;
    height: 16vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#divema {
    width: 40vh;
    height: 16vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#imgcon
{
    height: 8vh;
    width: 8vh;
    object-fit: cover;
    margin-top: 0.2vh;
}


#emailzin
{
    font-size: 2.8vh;
}



@media (prefers-color-scheme: light) {
    
    #br1 {
        height: 0.5vh;
        width: 100%;
        background-color: #090C11;
    }

  
}







/* - BARRA */




